openapi: 3.2.0
info:
  title: ITU DataHub Dashboards API
  version: '2'
  summary: Undocumented public JSON API behind the ITU DataHub ICT statistics portal.
  description: ITU publishes **no** OpenAPI, no reference documentation, and no terms of programmatic use for this API.
  contact:
    name: ITU ICT Data & Analytics Division
    email: indicators@itu.int
    url: https://datahub.itu.int/
  license:
    name: ITU Terms of Use
    url: https://www.itu.int/en/about/Pages/terms-of-use.aspx
  x-apievangelist-provenance:
    method: derived
    derived_from: live anonymous HTTP probes + the public DataHub client bundle
    probed: '2026-07-26'
    provider_published_spec: false
    note: Derived by API Evangelist from observed responses. ITU has not published, reviewed, or endorsed this description.
servers:
- url: https://api.datahub.itu.int/v2
  description: Production (AWS API Gateway + CloudFront). Anonymous.
tags:
- name: Dashboards
  description: Curated DataHub dashboard definitions.
paths:
  /dashboard/all:
    get:
      operationId: listDashboards
      tags:
      - Dashboards
      summary: List DataHub dashboards
      description: Returns every curated DataHub dashboard with its name, category, description, and the full set of indicator codes it renders including each code's disaggregations, units, visibility and coverage years.
      responses:
        '200':
          description: The dashboard definitions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dashboard'
components:
  schemas:
    Dashboard:
      type: object
      properties:
        dashboardID:
          type: integer
        dashboardName:
          type: string
        dashboardCategory:
          type: string
        dashboardDesc:
          type: string
        archive:
          type: boolean
        dashboardCodes:
          type: array
          items:
            type: object
externalDocs:
  description: ITU DataHub portal (the only human surface for this API)
  url: https://datahub.itu.int/
