openapi: 3.2.0
info:
  title: ITU DataHub Reference API
  version: '2'
  summary: Undocumented public JSON API behind the ITU DataHub ICT statistics portal.
  description: 'ITU publishes **no** OpenAPI, no reference documentation, and no terms of programmatic use for this API. This document is an API Evangelist **observed-behaviour** description: every path, parameter, status code and response shape below was recorded from live, anonymous HTTP calls against `https://api.datahub.itu.int/v2` on 2026-07-25/26. Nothing here is invented — where a behaviour was not observed it is simply absent.


    The route templates were recovered from the DataHub Next.js client bundle (`datahub.itu.int/_next/static/chunks/*.js`), which hardcodes the base URL `https://api.datahub.itu.int/v2`, and each recovered route was then called to confirm it exists and to capture its real response. Treat this surface as an internal backend that happens to be public rather than as a supported product API: it can change without notice.


    No authentication of any kind is required. No API key, no `Referer`, no `Origin`, no `User-Agent`. `Access-Control-Allow-Origin: *` is returned on every response. The service runs on AWS API Gateway behind CloudFront (`x-amzn-requestid`, `x-amz-cf-id` response headers).'
  contact:
    name: ITU ICT Data & Analytics Division
    email: indicators@itu.int
    url: https://datahub.itu.int/
  license:
    name: ITU Terms of Use
    url: https://www.itu.int/en/about/Pages/terms-of-use.aspx
  x-apievangelist-provenance:
    method: derived
    derived_from: live anonymous HTTP probes + the public DataHub client bundle
    probed: '2026-07-26'
    provider_published_spec: false
    note: Derived by API Evangelist from observed responses. ITU has not published, reviewed, or endorsed this description.
servers:
- url: https://api.datahub.itu.int/v2
  description: Production (AWS API Gateway + CloudFront). Anonymous.
tags:
- name: Reference
  description: Country and region reference data.
paths:
  /country/all:
    get:
      operationId: listCountries
      tags:
      - Reference
      summary: List all countries
      description: Returns the full ITU country reference list — 200-plus economies with their ITU CountryID, ISO 3166-1 alpha-3 code, short and long names, and every regional grouping the country belongs to (ITU/BDT classification, UN M49, World Bank income group).
      responses:
        '200':
          description: The full country list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'
              examples:
                aruba:
                  summary: First element of the live response
                  value:
                  - CountryID: 4
                    IsoCode: ABW
                    ShortName: Aruba
                    LongName: Aruba
                    Regions:
                    - id: 330
                      regionCode: DEV
                      class: UN M49 Developed-developing
                      classID: 92
                      region: Developing
                    - id: 650
                      regionCode: OE
                      class: ITU/BDT & Other Classification
                      classID: 177
                      region: Other Economies
                    - id: 701
                      regionCode: World
                      class: World
                      no regions: null
                      classID: 187
                      region: World
                    - id: 2115
                      regionCode: HI2023
                      class: WB_Income2023
                      classID: 1310
                      region: High Income
  /region/all:
    get:
      operationId: listRegions
      tags:
      - Reference
      summary: List all regions
      description: Returns every regional grouping used across DataHub — the ITU/BDT classification (Africa, Americas, Arab States, Asia & Pacific, CIS, Europe), UN M49 groupings including LDC/LLDC/SIDS, and World Bank income classes by year.
      responses:
        '200':
          description: The region list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Region'
              examples:
                arabStates:
                  value:
                  - className: ITU/BDT Classification
                    regionCode: ARB
                    regionName: Arab States
                    regionID: 3
components:
  schemas:
    Region:
      type: object
      properties:
        className:
          type: string
        regionCode:
          type: string
        regionName:
          type: string
        regionID:
          type: integer
    CountryRegion:
      type: object
      description: A regional grouping membership for a country.
      properties:
        id:
          type: integer
        regionCode:
          type: string
        class:
          type: string
          description: The classification family
          e.g. "ITU/BDT & Other Classification".: null
        classID:
          type: integer
        region:
          type: string
    Country:
      type: object
      description: A country or economy in the ITU reference list.
      properties:
        CountryID:
          type: integer
          description: ITU numeric country identifier.
        IsoCode:
          type: string
          description: ISO 3166-1 alpha-3 code.
        ShortName:
          type: string
        LongName:
          type: string
        Regions:
          type: array
          items:
            $ref: '#/components/schemas/CountryRegion'
externalDocs:
  description: ITU DataHub portal (the only human surface for this API)
  url: https://datahub.itu.int/
